body {
   background-color:white ;
}

h1 {
    font-family: Buxton Sketch;
    font-weight:bold;
    font-size:45px;
    text-align: center;
}

h2 {
    font-family: Buxton Sketch;
    font-weight:bold;
    font-size:35px;
    text-align: center;
}
h3 {
    font-size:45px;
    font-family:Buxton Sketch,serif;
    text-align: center;
}

#container {
    background-color: lightyellow;
    padding:20px;
    margin:0 auto;
    width:900px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
 }

#header {background-color :pink;
         color:purple ;
         padding:8px;
         margin : 0 auto ;
         width:600px;
         height :100px;
         border:10px solid yellow;
         text-align:center;

}

#rightheader{    
    width: 84px;
}

#logo {
    width:15%;
    float:left;
}

#menu {
    height : 50px;
    margin:auto ;
    width:100%;
    
}
#nav {
    float: left;
    width:880px;
    margin:10px;
    padding:0;
    background-color:lightsalmon;
    font-family:Buxton Sketch,serif;
    height: 44px;
}

#nav li {
    float:left 
}


#nav li a {
    display :block;
    padding :8px 12px;
    font-weight :bold;
    color:purple;
    text-decoration:none;
    font-size:20px;

}

#nav li a:hover{
    color:coral;
    background-color:lightcoral;

}

#main {
    background-color:lightblue ;
    color: darkblue ;
    padding :10px;
    margin :10px;
}

#footer {
    background-color :lightgreen;
    color:darkgreen;
    margin:10px;
    font-family:Buxton Sketch,serif;
    text-align:center;
}