<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>



  <connectionStrings>

    <remove name="LocalSqlServer"/>

    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g4; Persist Security Info=True; User ID=msci3300_g4; Password=Barkley!10" />
    <add name="yzhu16HW7_swap" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g4; Persist Security Info=True; User ID=msci3300_g4; Password=Barkley!10"
      providerName="System.Data.SqlClient" />
   
    
    <add name="cs_ToolRental" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=
msci3300_g4; Persist Security Info=True; User ID=msci3300_g4; Password=Barkley!10!"
 providerName="System.Data.SqlClient"/>
    
    
  </connectionStrings>
    

  
  
    <system.web>

      <roleManager enabled="true"/>
      <authentication mode="Forms">
        <forms loginUrl="login/login.aspx"/>
      </authentication>
      
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>

</configuration>
